<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="Scripts/myScript2.js"></script>
<body>
    <div ng-app="myModule">
        <div ng-controller="myController">
            <input type="checkbox" ng-model="hidesalary">Hide Salary</input></br>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>City</th>
                        <th ng-hide="hideSalary">Salary</th>
                        <!-- <th ng-show="hidesalary">Salary</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees">
                        <td>{{employee.name}}</td>
                        <td>{{employee.gender}}</td>
                        <td>{{employee.city}}</td>
                        <td ng-show="hidesalary">###</td>
                        <td ng-hide="hidesalary">{{employee.salary}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>